blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none;}
a:hover{text-decoration:none;}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
body{background: #fff;color: #323232;}
input{outline:none}
html, body {
height: 100%;
} 
$red:#f14b57;
@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
.clear, .section {
  @include clearfix;
}
@mixin opacity($value:0.5) {
  opacity: $value;
  filter: alpha(opacity=$value * 100);
}
body{
  background-color:#f5f5f5;
}
@mixin imgbg(){
  background: url('/images/pic-bg.jpg') center repeat;
}
#content,#footer,#header,#page,#container{margin-left:auto;margin-right:auto}
#header{
  width:100%;
  height: 95px;
  border-bottom:solid 1px #fff;
  .header-cont{
    width: 1000px;
    height: 95px;
    margin: 0 auto;
    @include clearfix;
  }
  .nav-ul{
    display: none;
  }
}
.headerCon{
      background:image-url('/images/logo.png') no-repeat;
      float: left;
      width:210px;
      height:36px;
      margin: 30px 0 0 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
#footer {
  position: relative;
  height: 174px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
  background-color: #fafafa;
  clear:both;
  .gs1000{
    width: 1000px;
    margin: 0 auto;
  }
  .logo-container{
    margin: 0;
      background:image-url('/images/f_logo_t.png') no-repeat;
    .logo{      
        display: block;
        width: 204px;
        height: 36px;
        overflow: hidden;
        text-indent: -999px;
    }
  }
  .side {
    width: 375px;
  }
  .menu {
    padding-right: 20px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .copyright {
    line-height: 19px;
    color: #bbbbbb;
  }
  dl {
    float: left;
    margin-right: 50px;
  }
  dt {
    margin-bottom: 15px;
    color: #666666;
  }
  dd {
    line-height: 22px;
    a {
      color: #999999;
      &:hover {
        color: #fe4b49;
      };
    }
  }
}
.qrcode{
  position: fixed;
  z-index: 10;
  *position: absolute;
  bottom: 30px;
  *top: 400px;
  *bottom:auto;
  right: 10px;
  width: 38px;
  height: 38px;
  border-radius: 1px;
  border:1px solid #e6e6e6;
  background:image-url('/images/wximg.png') center center #fff no-repeat;
  a{
    display: block;
    width: 38px;
    height: 38px;
  }
  span{
    display: none;
  }
  &:hover{
    span{
      position: absolute;
      left: -56px;
      top: 0;
      display: block;
      padding: 6px 8px;
      width: 24px;
      height: 28px;
      line-height: 14px;
      color: #fff;
      border-radius: 1px;
      background-color: #666666;
    }
  }
}
.alert_bg{
  width: 100%;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  height: 100%;
  background-color:#000;
  @include opacity(0.4);
}
.alert_cont{
  position: fixed;
  *position: absolute;
  left: 50%;
  top: 50%;
  z-index: 510;
  width: 498px;
  height: 252px;
  padding: 86px 0 0 0;
  margin: -170px 0 0 -250px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  .s_1{
    font-size: 18px;
    line-height: 48px;
    color: #999999;
    font-family: "微软雅黑";
    font-weight: bold;
    text-align: center;
    span{
      vertical-align: middle;
      margin: 0 5px 0 0;
      padding:24px 12px;
      display: inline-block;
      background:image-url('/images/ok.png') 0 center no-repeat;
    }
  }
  .s_2{
    color: #999999;
    line-height: 24px;
    text-align: center;
  }
  .s_link{
    text-align: center;
    padding: 25px 0 0 0;
    a,a:hover{
      display: inline-block;
      border: solid 1px #fe423e;
      background-color: #fe423e;
      line-height: 32px;
      padding: 0 10px;
      border-radius: 3px;
      color: #fff;
      margin: 0 10px 0 0;
    }
    .over,.over:hover{
      background-color: #fff;
      color: #fe423e;
    }
  }
}
.page-container{
  width: 100%;
  min-height:100%;
}
.page-container .page-main{
  padding-bottom: 194px;
}