blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none;}
a:hover{text-decoration:none;}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
body{background: #fff;color: #323232;}
$red:#f14b57;
@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
.clear, .section {
  @include clearfix;
}
#content,#footer,#header,#page,#container{margin-left:auto;margin-right:auto}
#header{
  width:1000px;
  height: 95px;
  border-bottom:solid 1px #fff;
  overflow: hidden;
  zoom:1;
}
.headerCon{
      background:image-url('/images/logo.png') no-repeat;
      float: left;
      width:210px;
      height:36px;
      margin: 30px 0 0 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
#footer {
  position: relative;
  height: 174px;
  padding-top: 20px;
  border-top: 1px solid #e6e6e6;
  background-color: #FAFAFA;
  clear:both;
  .gs1000{
    width: 1000px;
    margin: 0 auto;
  }
  .logo-container{
    margin: 0;
      background:image-url('/images/f_logo.png') no-repeat;
    .logo{      
        display: block;
        width: 204px;
        height: 36px;
        overflow: hidden;
        text-indent: -999px;
    }
  }
  .side {
    width: 375px;
  }
  .menu {
    padding-right: 20px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .copyright {
    line-height: 19px;
    color: #bbbbbb;
  }
  dl {
    float: left;
    margin-right: 50px;
  }
  dt {
    margin-bottom: 15px;
    color: #666666;
  }
  dd {
    line-height: 22px;
    a {
      color: #999999;
      &:hover {
        color: #fe4b49;
      };
    }
  }
}
.footer_regbg #footer{
background-color: #fff;
}