@import "global";
@import "global_nav";
@import "pagebar";
.select{
	padding: 20px 0 10px;
	width: 1000px;
	margin: 0 auto;
	#select-date{
		line-height:28px;
		height: 28px;
		border:solid 1px #e6e6e6;
		color: #333;
		outline: none;
	}
}
.count_cont{
	width: 1000px;
	margin:0 auto;
	.count_list{
		border: solid 1px #e6e6e6;
		background-color: #fff;
		overflow: hidden;
		.tr{
			border-top:solid 1px #f5f5f5;
			@include clearfix;
			margin: -1px 0 0 0;
			padding: 0 0 0 40px;
		.th{
			line-height: 50px;
			color: #666;
			float: left;
			text-align: center;
			font-weight: bold;
			span{
				color: #fe423e;
			}
		}
		.td{
			line-height: 50px;
			text-align:center;
			color: #666;
			float: left;
			span{
				color: #fe423e;
			}
		}
		.list-w{
			width: 225px;
		}
	}
	}
}
