@import "global";
@import "global_nav";
.index{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
	@include clearfix;
	.main{
		width: 780px;
		.index-nav{
			border: solid 1px #e6e6e6;
			background-color: #fff;
			line-height: 50px;
			height: 50px;
			margin: 0 0 20px 0;
			padding: 0 20px;
			color: #666666;
			s{
				color: #fe423e;
				font-style: normal;
				text-decoration: none;
			}
			span{
				float: right;
				display:block;
				line-height: 32px;
				padding: 9px 0 0 0;
				a{
					display: inline-block;
					background-color: #fe423e;
					color: #fff;
					line-height: 32px;
					text-align: center;
					padding: 0 10px;
					border-radius: 2px;
					margin: 0 0 0 15px;
					&:hover{
						background-color: #fe423e;
						color: #fff;
					}
				}
			}
		}
		.list{
			border: solid 1px #e6e6e6;
			background-color: #fff;
			height:677px;
			padding: 0 0 0 19px;
			.list-title{
				line-height: 50px;
				color: #333;
				font-weight: bold;
			}
			.list-cont{
				width: 740px;
				overflow: hidden;
				height: 424px;
				border-bottom:1px dotted  #efefef;
				ul{
					width: 800px;
					overflow: hidden;
					@include clearfix;
					@import "list";

				}
;
			}
			.text{
				padding:24px 0 0 0;
				.text-title{
					color: #666;
					font-weight: bold;
					line-height: 26px;
				}
				.text-cont{
					color: #999;
					line-height: 25px;
				}
			}
		}
	}
	.side{
		width: 162px;
		padding: 0 18px;
		border: solid 1px #e6e6e6;
		background-color: #fff;
		height: 749px;
		.side-title{
			line-height: 22px;
			padding: 13px 0 0 0;
			font-weight: bold;
			color: #333;
		}
		ul{
			li{
				position: relative;
				height: 89px;
				border-bottom: 1px dotted #ececec;
				.himg{
					position: absolute;
					left: 1px;
					top: 15px;
					width: 36px;
					height: 36px;
					border-radius: 45px;
					overflow: hidden;
					vertical-align: middle;
					text-align: center;
					display: table-cell;
					img{
						max-width: 36px;
						max-height: 36px;
						vertical-align: middle;
					}
				}
				.uname{
					position: absolute;
					left: 45px;
					top: 13px;
					color: #fe423e;
					font-size: 14px;
					font-weight: bold;
				}
				.task{
					position: absolute;
					top: 37px;
					left: 45px;
					color: #666;
				}
				.number{
					color: #666;
					position:absolute;
					left: 45px;
					top: 55px;
					span{
						color: #fe4b49;
					}
				}
			}
		}
	}
}