@import "global";
@import "global_nav";
@import "pagebar";
.usercenter{
	width: 998px;
	border: solid 1px #e6e6e6;
	background-color: #fff;
	padding: 10px 0 0 0;
	margin: 20px auto;
	min-height: 540px;
	@include clearfix;
	.side{
		padding: 10px 0 0 0;
		width: 200px;
		height:485px;
		ul{
			li{
				a{	
					display: block;
					line-height: 32px;
					padding: 0 0 0 66px;
					text-align: left;
					border: solid 1px #fff;
					color: #333333;
					font-size: 14px;
					&:hover,&.on{
						border-color:#fe4b49;
						color: #fe4b49;
					}
				}
				&#side-user{
					a{
						background:image-url('/images/setting.png') 39px center no-repeat;
						&.on,&:hover{
						background:image-url('/images/active-setting.png') 39px center no-repeat;
						}
					}
				}
				&#side-msg{
					a{
						background:image-url('/images/letter.png') 38px center no-repeat;
						&.on,&:hover{
						background:image-url('/images/active-letter.png') 38px center no-repeat;
						}
					}
				}
			}
		}
	}
	.main{
		width: 720px;
		min-height: 470px;
		padding: 0 0 50px 0;
		margin: 0 0 20px 0;
		.main_title{
			padding: 0 0 0 135px;
			color: #333;
			font-weight: bold;
			line-height: 48px;
			margin: 0 0 7px 0;
		}
		.form-box{
			@include clearfix;
			.form-side{
				width: 110px;
				text-align: right;
				padding: 0 25px 0 0;
				color: #666;
			}
			.f01{
				line-height: 140px;
				height: 140px;
			}
			.f02{
				line-height:32px;
				height:32px;
				margin: 25px 0;
			}
			.f03{
				line-height:22px;
				height:22px;
			}
			.f04{
				margin: 25px 0;
			}
			.f06{
				margin: 16px 0 0 0;
			}
			.f07{
				width: 110px;
				height: 30px;
			}
			.form-main{
				color: #666;
				.change{
					display:block;
					line-height: 32px;
					width: 154px;
					text-align: center;
					color:#fe4b49;
					border: solid 1px #fe4b49;
					border-radius: 3px;
					margin: 40px 0 0 30px;
					&:hover{
						color:#fe4b49;
						text-decoration: none;
					}
				}
				.uheadimg{
					width: 140px;
					height: 140px;
					cursor: pointer;
					text-align: center;
					display: table-cell;
					vertical-align: middle;
					img{
						max-width: 140px;
						max-height: 140px;
						vertical-align: middle;
					}
				}
				.prompt{
					padding: 0 0 0 30px;
					line-height:32px;
					display: inline-block;
				}
				#j-user-sub{
					width: 68px;
					height: 34px;
					line-height: 34px;
					text-align: center;
					color: #fff;
					background-color: #fe4b49;
					border-radius: 3px;
					border: 0;
					cursor: pointer;
					margin: 15px 0 0 0; 
				}
				.text{
					color: #666;
					line-height: 22px;
				}
				.red{
					color: red;
				}
				.form-input{
					border: solid 1px #e6e6e6;
					height: 30px;
					width: 290px;
					padding: 0 10px;
					input{
						color: #333;
						width: 100%;
						border: none;
						background: none;
						margin:5px 0 0 0;
					}
				}
				.checklist{
					color: #666;
					line-height: 30px;
					vertical-align: middle;
					margin: 0 0 0 -10px;
					input{
						margin: 0 3px 0 10px;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.main{
		border-left:1px dotted  #efefef;
		.main_title{
			padding: 0 0 0 20px;
			span{
				margin: 0 0 0 3px;
				font-weight: normal;
				s{
					color: #fe423e;
					font-style: normal;
					text-decoration: none;
					margin: 0 3px;
				}
			}
		}
		.msglist{
			margin: -25px 20px 0;
			.msglist_li{
				height: 118px;
				position: relative;
				border-bottom:1px dotted  #efefef;
				.li_img{
					width: 80px;
					height: 80px;
					position: absolute;
					top: 19px;
					left: 10px;
						div{
						width: 80px;
						height: 80px;
						overflow: hidden;
						@include imgbg;
						text-align: center;
						vertical-align: middle;
						display: table-cell;
						img{
							max-width: 80px;
							max-height: 80px;
							vertical-align: middle;
						}
					}
					span{
						position: absolute;
						display: none;
						width: 10px;
						height: 10px;
						font-size: 10px;
						line-height: 10px;
						background-color: #fe4b49;
						border-radius: 45px;
						top: -3px;
						left: -3px;
					}
				}
				.text{
					position:absolute;
					left: 110px;
					top: 50px;
					color: #333;
					width: 500px;
					height: 18px;
					overflow: hidden;
				}
				.time{
					position: absolute;
					right: 10px;
					top: 50px;
					color: #333;
				}
				&.on{
					.text{
						font-weight: bold;
						color: #fe4b49;
					}
					.li_img{
						span{
							display: block;
						}
					}
				}
			}
		}
		#J_page{
			margin: 0 20px;
		}
	}
}
.usercenter .main #J_page {
	margin: 20px;
}