<div class="footer-container">
    <div class="footer">
      <div class="side">
        <div class="logo-container">
          <a class="logo logo-gray" href="/">想省钱，就用淘淘搜比价</a>
        </div>
        <div class="copyright">Copyright © 2009-2014 taotaosou.com 浙ICP备10046883号-1增值电信业务经营许可证：浙B2-20130172</div>
      </div>

      <div class="menu">
        <dl>
          <dt>关于我们</dt>
          <dd>
            <ul>
              <li><a href="http://www.taotaosou.com/about/about.html" target="_blank" rel="nofollow">关于淘淘搜</a></li>
              <li><a href="http://www.taotaosou.com/about/coolsearch.html" target="_blank" rel="nofollow">什么是图片搜索</a></li>
              <li><a href="http://www.taotaosou.com/about/jlwm.html" target="_blank" rel="nofollow">加入我们</a></li>
              <li><a href="http://www.taotaosou.com/about/xiaoyuan.html" rel="nofollow">校园招聘</a></li>
              <li><a href="http://www.taotaosou.com/about/lxwm.html" target="_blank" rel="nofollow">联系我们</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt>应用 &amp; 工具</dt>
          <dd>
            <ul>
              <li class="pc"><a href="http://tk.taotaosou.com/" target="_blank" rel="nofollow">淘淘搜比价</a></li>
              <li><a href="http://www.taotaosou.com/mobile/zhaoshenma.html" target="_blank">淘淘搜手机版</a></li>
              <li><a href="http://www.taotaosou.com/mobile/app_hunter.html" target="_blank">应用猎手</a></li>
              <li><a href="https://itunes.apple.com/cn/app/fu-shi-hui-hui-tu-sou-fu-shi/id730243405?mt=8" rel="nofollow" target="_blank">服饰绘</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt>帮助</dt>
          <dd>
            <ul>
              <li><a href="http://gouwu.taotaosou.com/" target="_blank" rel="nofollow">购物助手</a></li>
              <li><a href="http://tk.taotaosou.com/feedback.html" target="_blank">淘同款客服</a></li>
            </ul>
          </dd>
        </dl>

        <dl>
          <dt>友情链接</dt>
          <dd>
            <ul>
              <li><a href="http://www.25pp.com/" target="_blank" rel="nofollow">PP助手</a></li>
              <li><a href="http://app.91.com/" target="_blank" rel="nofollow">91助手</a></li>
              <li><a href="http://cps.yintai.com/Websource.aspx?source=taotao&amp;url=http://www.yintai.com/" target="_blank" rel="nofollow">银泰网</a></li>
              <li><a href="http://news.appying.com/" target="_blank" rel="nofollow">APP移动运营</a></li>
              <li><a href="http://www.taotaosou.com/partner.html" target="_blank" rel="nofollow">更多</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>


<script>
  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-35627196-3"]);
  _gaq.push(["_setDomainName", "taotaosou.com"]);
  _gaq.push(["_trackPageview"]);

  (function() {
    var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
    ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
  })();

  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F13360468a953f17a76c79db144dc5fcc' type='text/javascript'%3E%3C/script%3E"));
</script>


<!-- build:js(app) /scripts/frameworks.js -->
<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<!-- endbuild -->

<!-- build:js(app) scripts/plugins.js -->
<script src="/scripts/web/global.js"></script>
<script src="/scripts/web/ga.js"></script>
<!-- endbuild -->
<!-- <script src="bower_components/sass-bootstrap/js/affix.js"></script>
<script src="bower_components/sass-bootstrap/js/alert.js"></script>
<script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
<script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
<script src="bower_components/sass-bootstrap/js/modal.js"></script>
<script src="bower_components/sass-bootstrap/js/transition.js"></script>
<script src="bower_components/sass-bootstrap/js/button.js"></script>
<script src="bower_components/sass-bootstrap/js/popover.js"></script>
<script src="bower_components/sass-bootstrap/js/carousel.js"></script>
<script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
<script src="bower_components/sass-bootstrap/js/collapse.js"></script>
<script src="bower_components/sass-bootstrap/js/tab.js"></script> -->

