<div id="footer">
  <div class="gs1000">
        <div class="left side">
          <div class="logo-container">
            <a class="logo" href="http://www.taotaosou.com/">淘淘搜</a>
          </div>
          <div class="copyright">
            <p>Copyright © 2014-2018 taotaosou.com</p>
            <p>浙ICP备10046883号-1</p>
            <p>增值电信业务经营许可证：浙B2-20130172</p>
          </div>
        </div>

        <div class="right menu">
          <dl>
            <dt>关于我们</dt>
            <dd>
              <ul>
                <li><a href="http://www.taotaosou.com/about/about.html" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_about_click">关于淘淘搜</a></li>
                <li><a href="http://www.taotaosou.com/about/coolsearch.html" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_whatsearch_click">什么是图片搜索</a></li>
                <li><a href="http://www.taotaosou.com/about/jlwm.html" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_joinus_click">加入我们</a></li>
                <li><a href="http://www.taotaosou.com/about/xiaoyuan.html" rel="nofollow" data-tts-click="ZZ_bottom_campus_click">校园招聘</a></li>
                <li><a href="http://www.taotaosou.com/about/lxwm.html" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_contectus_click">联系我们</a></li>
              </ul>
            </dd>
          </dl>

          <dl>
            <dt>应用 &amp; 工具</dt>
            <dd>
              <ul>
                <li class="pc"><a href="http://tk.taotaosou.com/" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_plugin_click">淘淘搜比价</a></li>
                <li><a href="http://www.taotaosou.com/mobile/zhaoshenma.html" target="_blank" data-tts-click="ZZ_bottom_app_click">淘淘搜手机版</a></li>
                <li><a href="http://www.taotaosou.com/mobile/app_hunter.html" target="_blank" data-tts-click="ZZ_bottom_apphunter_click">应用猎手</a></li>
                <li><a href="https://itunes.apple.com/cn/app/fu-shi-hui-hui-tu-sou-fu-shi/id730243405?mt=8" rel="nofollow" target="_blank" data-tts-click="ZZ_bottom_fushi_click">服饰绘</a></li>
              </ul>
            </dd>
          </dl>

          <dl>
            <dt>帮助</dt>
            <dd>
              <ul>
                <li><a href="http://www.taotaosou.com/service.html" target="_blank" data-tts-click="ZZ_bottom_customer_click">淘淘搜客服</a></li>
              </ul>
            </dd>
          </dl>

          <dl>
            <dt>友情链接</dt>
            <dd>
              <ul>
                <li><a href="http://www.25pp.com/" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_link1_click">虾米音乐</a></li>
                <li><a href="http://app.91.com/" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_link2_click">多米音乐</a></li>
                <li><a href="http://cps.yintai.com/Websource.aspx?source=taotao&amp;url=http://www.yintai.com/" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_link3_click">同花顺</a></li>
                <li><a href="http://news.appying.com/" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_link4_click">乐蜂网</a></li>
                <li><a href="http://www.taotaosou.com/partner.html" target="_blank" rel="nofollow" data-tts-click="ZZ_bottom_linkmore_click">更多</a></li>
              </ul>
            </dd>
          </dl>
        </div>
  </div>
</div>

<div class="qrcode">
  <a href="#" target="_blank"></a>
  <span>联系我们</span>
</div>
<!-- build:js(app) /scripts/frameworks.js -->
<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<!-- endbuild -->

