<div id="header">
	<div class="header-cont">
		<a title="抢" class="headerCon" target="_blank" href="/index.html"></a>
		<ul class="right nav-ul">
			<li class="nav-li">
				<span class="nav-span">hi,一只鸡!</span>
				<ul>
					<li>
						<a href="#" target="_blank">个人信息</a>
					</li>
					<li>
						<a href="#" target="_blank">消息中心</a>
					</li>
					<li>
						<a href="#" target="_blank">退出登录</a>
					</li>
				</ul>
			</li>
			<li class="nav-li">
				<a href="#" class="nav-link" target="_blank">开始答题</a>
			</li>
			<li class="nav-li">
				<a href="#" class="nav-link"  target="_blank">历史任务</a>
			</li>
			<li class="nav-li">
				<a href="#" class="nav-link" target="_blank">收入统计</a>
			</li>
			<li class="nav-li">
				<a href="#" class="nav-link last" target="_blank">积分商城</a>
			</li>
		</ul>
	</div>
</div>