<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {{> meta}}
  <title>淘淘搜</title>
  <!-- build:css(.tmp) /styles/count.css -->
  <link rel="stylesheet" href="/styles/web/count.css">
  <!-- endbuild -->
</head>
  <body>
  <div class="page-container">
    <div class="page-main">
    {{> header}}
    <div class="select">
      <select name="select" id="select-date" accesskey="u">
        <option value="1" >2014年1月</option>
        <option value="1" >2014年2月</option>
      </select>
    </div>
    <div class="count_cont">
        <div class="count_list">
          <div class="tr">
            <div class="list-w th">日期</div>
            <div class="list-w th">完成任务（个）</div>
            <div class="list-w th">审核通过任务（个）</div>
            <div class="list-w th">收入金币</div>
          </div>
          <div class="tr">
            <div class="list-w th">共计</div>
            <div class="list-w th">9999</div>
            <div class="list-w th">9988989</div>
            <div class="list-w th"><span>1232</span></div>
          </div>
          <div class="tr">
            <div class="list-w td">2014/08/08-14:52</div>
            <div class="list-w td">123123</div>
            <div class="list-w td">123123</div>
            <div class="list-w td">1232</div>
          </div>
          <div class="tr">
            <div class="list-w td">2014/08/08-14:52</div>
            <div class="list-w td">123123</div>
            <div class="list-w td">123123</div>
            <div class="list-w td"><span>1232</span></div>
          </div>
        </div>
    </div>
  </div>
  </div>
  {{> footer}} 
</body>
</html>