<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜</title>
    <!-- build:css(.tmp) /styles/gold.css -->
    <link rel="stylesheet" href="/styles/web/gold.css">
    <!-- endbuild -->
  </head>
    <body>

    {{> header}}

    <div class="gold">
        
            <div class="exchange">
                <div class="text">
                    一只鸡，欢迎光临金币商城！<br/>你目前拥有<span>999</span>金币
                </div>
            </div>
            <div class="list">
                <div class="list-title">赶紧来吧！小伙伴们都已经换了好多了！</div>
                <div class="list-cont">
                    <ul>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    {{> footer}}
</body>
</html>