<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜</title>
    <!-- build:css(.tmp) /styles/history.css -->
    <link rel="stylesheet" href="/styles/web/history.css">
    <!-- endbuild -->
  </head>
    <body>
    {{> header}}
    <div class="history">
        <div class="history_list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th scope="col">日期时间</th>
            <th scope="col">发起者</th>
            <th scope="col">图片</th>
            <th scope="col">类别</th>
            <th scope="col">悬赏金额</th>
            <th scope="col">我的答案</th>
            <th scope="col">状态</th>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
        </div>
        <div id="J_page" class="page"><div class="vm-page blue-page-skin"><span class="vm-page-prev"><s>‹</s>上一页</span><span class="vm-page-current">1</span><a href="#" data-k="page" data-v="2">2</a><a href="#" data-k="page" data-v="3">3</a><a href="#" data-k="page" data-v="4">4</a><span class="vm-page-break">...</span><a href="#" data-k="page" data-v="99">99</a><a href="#" data-k="page" data-v="100">100</a><a href="#" class="vm-page-next" data-k="page" data-v="2">下一页<s data-k="page" data-v="2">›</s></a></div></div>
    </div>
    {{> footer}}
</body>
</html>