<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜</title>
    <!-- build:css(.tmp) /styles/index.css -->
    <link rel="stylesheet" href="/styles/web/index.css">
    <!-- endbuild -->
  </head>
    <body>
    {{> header}}
    <div class="index">
        <div class="left main">
            <div class="index-nav"><span>当前已有<s>6999</s>金币<a href="#" target="_blank">回答问题，赚金币！</a></span>一只鸡，你昨天完成了5个任务，在找找团中排<s>698</s>名！再接再厉哦！</div>
            <div class="list">
                <div class="list-title">大家都在换</div>
                <div class="list-cont">
                    <ul>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href="#" target="_blank"><img src="http://placehold.it/168x168" /></a>
                                <div class="bg"></div>
                                <div class="infotext">
                                    <span><s>以666积分</s>兑换成功</span>
                                    <div class="info-title">魔音录音师pro 头戴耳机魔音录音师pro 头戴耳机</div>
                                </div>
                            </div>
                            <div class="name-time">
                                <span>14:54</span>萌萌的心愿
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="text">
                    <div class="text-title">规则说明</div>
                    <div class="text-cont">
                        1、用户点击“我来找”领取任务，在淘宝上找到相应商品后上传商品链接，审核通过后可以得到相应报酬；<br/>
                        2、用户可以选择点击“换一题”切换题目；<br/>
                        3、用户领取任务后要在十五分钟内完成，超过十五分钟未完成的任务系统自动收回；<br/>
                        4、答案不合格的任务，系统收回并会以新任务形式重新发布出去；<br/>
                        5、答案的审核结果将以消息的形式发给用户，同时也可以在历史任务中查看。
                    </div>
                </div>
            </div>
        </div>
        <div class="right side">
            <div class="side-title">昨日8强</div>
            <ul>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="himg"><img src="http://placehold.it/36x36" /></div>
                    <div class="uname">1.萌萌的心愿</div>
                    <div class="task">已完成了1000个任务</div>
                    <div class="number">收入<span>99999</span>积分</div>
                </li>
                
            </ul>
        </div>
    </div>
  <div class="alert_bg"></div>
  <div class="alert_cont">
      <div class="s_1">T.T~抱歉目前没有可回答的题目</div>
      <div class="s_2">先休息一下，稍后再试哦~</div>
      <div class="s_link"><a href="#" class="over">确认</a></div>
  </div>
    {{> footer}}
</body>
</html>