<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜</title>
    <!-- build:css(.tmp) /styles/user.css -->
    <link rel="stylesheet" href="/styles/web/user.css">
    <!-- endbuild -->
  </head>
    <body>
    {{> header}}
    <div class="usercenter">
    	<div class="left side">
    		<ul>
    			<li>
     				<a href="#" target="_blank">个人信息</a>
    			</li>
    			<li>
     				<a href="#"  class="on" target="_blank">消息中心</a>
    			</li>
    		</ul>
    	</div>
    	<div class="left main">
    		<div class="main_title">全部消息<span>共<s>24</s>条</span></div>
            <div class="msglist">
                <div class="msglist_li">
                    <div class="li_img">
                        <div><img src="http://placehold.it/80x50" /></div><span></span>
                    </div>
                    <div class="text">你有一个回答未通过审核</div>
                    <div class="time">1天前</div>
                </div>
                <div class="msglist_li on">
                    <div class="li_img">
                        <div><img src="http://placehold.it/80x50" /></div><span></span>
                    </div>
                    <div class="text">你有一个回答未通过审核</div>
                    <div class="time">1天前</div>
                </div>
            </div>
            <div id="J_page" class="page"><div class="vm-page blue-page-skin"><span class="vm-page-prev"><s>‹</s>上一页</span><span class="vm-page-current">1</span><a href="#" data-k="page" data-v="2">2</a><a href="#" data-k="page" data-v="3">3</a><a href="#" data-k="page" data-v="4">4</a><span class="vm-page-break">...</span><a href="#" data-k="page" data-v="99">99</a><a href="#" data-k="page" data-v="100">100</a><a href="#" class="vm-page-next" data-k="page" data-v="2">下一页<s data-k="page" data-v="2">›</s></a></div></div>
        </div>
    </div>
    {{> footer}}
</body>
</html>