<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜</title>
    <!-- build:css(.tmp) /styles/login_reg.css -->
    <link rel="stylesheet" href="/styles/web/login_reg.css">
    <!-- endbuild -->
  </head>
    <body class="footer_regbg">
    {{> header}}
    <div class="login_reg">
        <div class="side">
            <div class="title">想像他们一样赢取积分换大奖吗？那就赶快来登陆答题吧！</div>
            <ul>
                <li>
                    <div class="headimg"><img src="http://placehold.it/70x70" /></div>
                    <div class="username">萌萌的心愿</div>
                    <div class="taskname">已经成功完成了1000个任务收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="headimg"><img src="http://placehold.it/70x70" /></div>
                    <div class="username">萌萌的心愿</div>
                    <div class="taskname">已经成功完成了1000个任务收入<span>99999</span>积分</div>
                </li>
                <li>
                    <div class="headimg"><img src="http://placehold.it/70x70" /></div>
                    <div class="username">萌萌的心愿</div>
                    <div class="taskname">已经成功完成了1000个任务收入<span>99999</span>积分</div>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="main-cont">
                <div class="line"></div>
                <div class="title">注册<span>你是我心中最美的云彩！</span></div>
                <div class="formbox">
                    <div class="form-input log01"><input type="text" placeholder="邮箱注册" /></div>
                    <div class="form-input log02"><input type="text" placeholder="密码（6-20个字符）" /></div>
                </div>
                <div class="form-link"><a href="#" class="hasid" target="_blank">已有账号？</a><a href="#" target="_blank" class="rightnow">立即登录</a><span>同意<a href="http://www.taotaosou.com/protocol.html" target="_blank">《淘淘搜网络服务使用协议》</a></span></div>
                <input id="j-regbtn" type="submit" value="注册" />
                <div class="fastreg">快捷登陆方式：<a href="#" class="qq"  target="_blank"></a><a href="#" class="sina" target="_blank"></a><a href="#" class="taobao" target="_blank"></a></div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>
</html>