<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜比价商城</title>
    <!-- build:css(.tmp) /styles/search.css -->
    <link rel="stylesheet" href="/styles/web/search.css">
    <!-- endbuild -->
  </head>
    <body>
    {{> header}}
    <div class="search_main">
        <div class="search_header">
          <div class="prd_info">
            <div class="prd_img">
              <a href="#" target="_blank" title=""><img src="/images/ajax_load.gif" data-prdsrc="http://img04.taobaocdn.com/bao/uploaded/i4/11122030675127323/T1ntNJXpNdXXXXXXXX_!!0-item_pic.jpg_160x160.jpg" /></a>
            </div>
            <div class="prd_info_sider">
              <div class="prd_title">
                <a href="#" title="" target="_blank">绒华贵族正品狐狸毛领千鸟格修外套秋冬女装长款羊毛大衣</a>
              </div>
              <div class="prd_price"><i>&yen;</i>232</div>
              <div class="prd_from">销量：<span>12365</span>来源：淘宝网</div>
              <div class="prd_btn"><a href="#" target="_blank" title="购买">去购买</a></div>
            </div>
          </div>
          <div class="prd_num hide">有<span>43同款</span>商品在卖</div>
          <div class="prd_num no">没找到你要的同款</div>
        </div>
        <div class="search_list">
          <div class="list_tab" id="J_datainfo" data-sourceid="39121076193" data-website="taobao" data-cid="" data-like="true" data-sort="salesFirst" data-tabtype="" >
            <ul class="btn_tab">
              <li class="on" data-tktype="same">同款商品</li>
              <li data-tktype="similar">相似商品</li>
            </ul>
            <ul class="sort_tab">
              <li class="on first" data-sorttype="salesFirst">销量<i></i></li>
              <li data-sorttype="creditFirst">信用<i></i></li>
            </ul>
          </div>
          <div class="search_list_cont">
            <div id="showcont"></div>
            <div class="ajaxload"></div>
          </div>
          <div class="page"></div>
        </div>
    </div>
    <div class="search_side hide">
      <div class="tops">
         <div class="side_title">找了又找</div>
          <div class="side_border">
            <div class="side_list">
              <ul class="list_ul">

              </ul>
            </div>
            <div class="list_tab">

            </div>
          </div>
      </div>
      <div class="adv_pic">
        <iframe vspace="0" hspace="0" allowtransparency="true" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" src="http://show.kc.taotaosou.com/brand.do?brandKeyword=%E6%AF%94%E4%BB%B7%E5%95%86%E5%9F%8E%E7%BB%93%E6%9E%9C%E9%A1%B51&keyword=%E6%AF%94%E4%BB%B7%E5%95%86%E5%9F%8E%E7%BB%93%E6%9E%9C%E9%A1%B51&brandItemSize=3&keywordType=true&source=270&brandRandom=100&adType=2&itemSize=3&height=120&width=160&isMall=true"></iframe>
      </div>
    </div>
    {{> footer}}

    <!-- build:js(app) /scripts/search.js -->
    <script src="/scripts/web/pager.js"></script>
    <script src="/scripts/web/search/main.js"></script>
    <script src="/scripts/web/search/carousel.js"></script>
    <!-- endbuild -->

</body>
</html>