<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta}}
    <title>淘淘搜</title>
    <!-- build:css(.tmp) /styles/user.css -->
    <link rel="stylesheet" href="/styles/web/user.css">
    <!-- endbuild -->
  </head>
    <body>
    {{> header}}
    <div class="usercenter">
    	<div class="left side">
    		<ul>
    			<li id="side-user">
     				<a href="#" class="on" target="_blank"><s class="usericon-letter"></s>个人信息</a>
    			</li>
    			<li id="side-msg">
     				<a href="#" target="_blank"><s class="usericon-setting"></s>消息中心</a>
    			</li>
    		</ul>
    	</div>
    	<div class="left main">
    		<div class="main_title">基本信息</div>
    		<div class="form-box">
    			<div class="form-side left f01">头像</div>
    			<div class="form-main left">
                    <div class="uheadimg"><img src="http://placehold.it/140x140" /></div>
                </div>
                <div class="form-main left">
                    <a href="#" target="_blank" class="change">更换头像</a>
                    <span class="prompt">支持JPG、PNG、GIF格式，文件小于2Mb</span>
                </div>
    		</div>
            <div class="form-box">
                <div class="form-side left f02">用户名</div>
                <div class="form-main left f04">
                    <div class="text">名字打法是否收费<a href="#">修改</a></div>
                </div>
            </div>
            <div class="form-box">
                <div class="form-side left f03">昨日任务完成数</div>
                <div class="form-main left">
                    <div class="text">5个</div>
                </div>
            </div>
            <div class="form-box">
                <div class="form-side left f03">任务完成总数</div>
                <div class="form-main left">
                    <div class="text">534234个</div>
                </div>
            </div>
            <div class="form-box">
                <div class="form-side left f03">拥有金币</div>
                <div class="form-main left">
                    <div class="text red">200</div>
                </div>
            </div>
            <div class="form-box">
                <div class="form-side left f06">修改领域</div>
                <div class="form-main left f06">
                    <div class="checklist">
                        <input type="checkbox" name="sy" />上衣<input type="checkbox" name="qk" />裤裙<input type="checkbox" name="xz" />鞋子<input type="checkbox" name="bb" />包包<br/><input type="checkbox" name="qt"/>其他（首饰、帽子、眼镜、围巾、要带等）
                    </div>
                </div>
            </div>
            <div class="form-box">
                <div class="form-side left f07"></div>
                <div class="form-main left">
                    <input type="submit" value="保存" id="j-user-sub" />
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</body>
</html>